/*defini os estilos gerais da página, como fundo e cores de texto */
body {
    margin: 0;
    padding: 0;
    background-color: #7f8081;
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
  }
  
  /* define os estilos das seções pai */ 
  .lado-esquerdo-pai,
  .lado-direito-pai {
    box-sizing: border-box;
    padding: 10px;
    height: 100vh; 
    color:  white;
    
    /* ajusta a altura para ocupar toda a altura da janela */
  }
  
  /* defini os estilos do lado esquerdo */
  .lado-esquerdo-pai {
    float: left;
    width: 80%;
    background-color: #031a64;
  }
  
  /* defini os estilos do lado direito */
  .lado-direito-pai {
    float: left;
    width: 20%;
    background-color: #270264;
  }
  
  /* Limpar floats após as seções */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lado-esquerdo-filho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lado-esquerdo-neto1, 
  .lado-esquerdo-neto2, 
  .lado-esquerdo-neto3 {
    flex-basis: 30%; /* Define a largura base como 30% */
    background-color: black;
    margin: 1%; /* Espaço entre os netos */
    box-sizing: border-box;
  }

  /* Estilo adicional para garantir que os netos tenham tamanho igual */
.lado-esquerdo-filho::after {
  content: "";
  flex-basis: 30%;
  max-width: 30%;
}



  @media (max-width: 768px) {
    .lado-esquerdo-neto1, 
    .lado-esquerdo-neto2, 
    .lado-esquerdo-neto3 {
      flex-basis: 48%; /* Reduz a largura para 48% para caber em telas menores */

        /* Estilo adicional para garantir que os netos tenham tamanho igual na linha de baixo */
  .lado-esquerdo-filho::after {
    flex-basis: 48%;
    max-width: 48%;
  }
     }