/*defini os estilos gerais da página, como fundo e cores de texto */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ------------**Estilização do Header**---------- */

.icone-login-partials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 0%);
}

/*Definindo fonte padrão dos textos do site e zerando margem do site total*/
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Defininfo a largura e retirando as margem do header  */
.wrapper-partials {
  width: 100%;
  margin: 0 auto;
}

/* retirando o espaçamento entre o logo e os itens do menu  */
.menu-partials ul {
  padding: 0;
}

/* Dando margem lateral ao logo  */
.logo-partials {
  margin-left: 1rem;
}

/* Definindo cor, dando esaçamento e centralizando os itens dentro da tag nav (menu-navegador)  */
.nav-partials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 0%);
}

/* Definindo a largura e dando margem a imagem que fai no menu de navegação  */
.logo-partials img {
  width: 6.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.imagem-redes-sociais a img {
 width: 2rem;
 margin-left: 0.5rem;
}

.imagem-redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
 }

/* Deixando os item no menu de navegação um ao lado do outro, dando espaçamento com gap e tirando os topicos das listas  */
.nav-partials ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

/* tirando o sublinhado dos links do menu de navegação  */
.nav-partials a {
  text-decoration: none;
  color: #00e6ff;
}

.nav-partials #toggle-partials,
.nav-partials label {
  display: none;
}

.nav-partials #toggle-partials-2,
.nav-partials label {
  display: none;
}

/* Defindo tamanho, margin interna e cores do texto e da borda dos itens do menu de navegação  */
.menu-partials li {
  font-size: 1rem;
  border: 1px solid #00e6ff;
  background-color: transparent;
  border-radius: 1px 10px;
  color: #00e6ff;
  padding: 0.5rem;
  margin-left: 1rem;
}

/* definindo a cores que os itens do menu terão ao passar o mouse neles */
.menu-partials li:hover {
  background-color: #00e6ff;
  color: white;
}

/* Deixando uma linha branca entre o header e o container 1  */
.linha-partials {
  border-bottom: 1px solid #3a9faa;
}

.categorias-partials li   {
  display: flex;
}

/* estilizando a barra de pesquisa, definindo cores, larguras, margens e centralizando itens.  */
.barra-de-pesquisa-partials {
  background-color: rgb(66, 65, 65);
  padding: 3px;
  color: white;
  border-radius: 5px;
  width: 14rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* deixando o icone de login e barra de pesquisa na mesma linha  */
.login-pesquisa-partials {
  display: flex;
  align-items: center;
}

/* dando uma magin lateral as divs dos icones de login e barra de pesquisa   */
.login-pesquisa-partials div {
  margin-right: 1rem;
}

/* Estilizando o input da barra de pesquisa, definindo o tamanho do texto, a largura e altura do input e cor de fundo  */
.barra-de-pesquisa-partials input {
  width: 12rem;
  height: 2rem;
  background-color: rgb(66, 65, 65);
  border: 0;
  font-size: 1rem;
  margin-left: 1rem;
  outline: 0;
  color: white;
  border-radius: 5px;
}

/* tirando o fundo do botão lupa e deixando ele como notão clicável  */
.barra-de-pesquisa-partials button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Definindo a largura da imagem da lupa e dando uma margem lateral interna */
.barra-de-pesquisa-partials img {
  width: 1.5rem;
  margin-left: -1rem;
}

.barra-de-pesquisa-partials-mobile,
.icone-login-partials-mobile,
.toggle-partials-2-pai,
.icone-login-partials-mobile,
.login-pesquisa-partials-2,
.categoria-mobile {
  display: none;
}

/* definindo a largura da barra que separa a barra de pesquisa e o icone de login  */
.barra-separadora-partials img {
  width: 2.2px;
}

/* definindo a largura do icone de login  */
.icone-login-partials img {
  width: 1.5rem;
}

.categoria-desktop-login ul {
  padding: 0;
}

.categoria-desktop-login ul li {
  position: relative;
  z-index: 5;
}

.categoria-desktop-login ul li a {
  text-decoration: none;
}

.categoria-desktop-login ul li :hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.categoria-desktop-login ul ul {
  display: none;
  left: -4.4rem;
  top: 3rem;
  position: absolute;
  padding: 0;
}

.categoria-desktop-login ul li:hover ul {
  display: block;
  background-color: #00e6ff;
  border-radius: 10px;
}

.categoria-desktop-login ul ul {
  width: auto;
  padding: 0.5rem;
}

.categoria-desktop-login ul ul li a {
  display: block;
  color: black;
  border-bottom: 1px dashed rgb(0, 0, 0);
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
}

/* ---------------------- Estilização do menu categorias --------------------  */

.menu-partials ul {
  text-align: center;
}

.menu-partials ul li {
  position: relative;
  z-index: 5;
  
}

.menu-partials ul li a {
  color: #00e6ff;
  text-decoration: none;
}

.tipo-animes {
  font-size: 0.8rem;
}

.menu-partials ul li :hover {
  color: rgb(182, 17, 17);
  background-color: black;
  justify-content: center;
}

.menu-partials ul ul {
  display: none;
  left: -2.4rem;
  top: 2.3rem;
  position: absolute;
}

.menu-partials ul li:hover ul {
  display: block;
  background-color: rgb(26, 25, 25);
}

.menu-partials ul ul {
  width: auto;
padding-left: 0;
}

.menu-partials ul ul li a {
  display: block;
  color: rgb(255, 255, 255);
  border-bottom: 1px dashed black;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.categorias-partials li {
  border-radius: 0;
  border: 0;
  margin-left: 0;
}

.categoria-desktop img {
  width: 1.5rem;
}



/*------------------Daqui Para baixo fica a estilização do SCROLL DE ROLAGEM GERAL--------------------------*/

/* Estilizando o Botão de Scroll para o topo da pagina  */
.scrollTop {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0px;
  bottom: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

/* Estilizando quano ele ira aparacer  */
.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

/* Estilizando a largura da imagem e fazendo a rotação dela  */
.scrollTop img {
  width: 50%;
  transform: rotate(-90deg);
}

/* ------------**Estilização da pagina Index**---------- */

/* ----**Estilização lado esquerdo da pagina */

/* define os estilos das seções pai */
.lado-esquerdo-pai,
.lado-direito-pai {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: #008080;
  min-height: 100vh; /* Definindo a altura mínima como 100% da viewport */
}

body {
  background-color: #111111;
}

/* Estilização do lado esquerdo */
.lado-esquerdo-pai {
  float: left;
  width: 80%;
  background-color: #1c1c1c;
  z-index: 2;
}

/* Estilização do lado direito */
.lado-direito-pai {
  float: left;
  width: 20%;
  height: auto;
  background-color: #111111;
}

/* Limpar floats após as seções */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* estilizando os titulos das divs maiores. Definindo margens, padding e cor de fundo */
.titulo-destaque-index {
  background-color: black;
  border-radius: 0px 0px 15px 15px;
  padding: 0.3rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  
}

.titulo-destaque-index2 {
  margin-top: 3rem;
}

.titulo-destaque-index-direito {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border: 2px solid yellow;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.titulo-index {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: black;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
}

/* Estilo para o botão selecionado */
.dia-button.selected {
  background-color: #3498db; /* Cor de fundo que você deseja quando selecionado */
  color: white; /* Cor do texto quando selecionado */
}


/* estiliza a lista para ficar resposivo e um ao lado do outro com display flex  */
.lado-esquerdo-filho1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
  color: white;
  min-width: 18rem; /* Defina a largura mínima que deseja para cada div item */

}

/*   Estiliza as listas netos a terem uma largura fixam margin e a coloração do fundo */
.lado-esquerdo-neto1 {

  border: 2px solid #dfdb04;
  flex: 1;
  min-width: 18rem; /* Defina a largura mínima que deseja para cada div item */
  max-width: 21rem;
  margin: 10px;
  text-align: center;
  margin-bottom: 1rem;
}



/* Definindo o tamanho da fonte do titulo h1 do neto do lado esquerdo  */
.lado-esquerdo-neto1 h2 {
  font-size: 1rem;
  color: yellow;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  font-weight: 800;

}

.lado-esquerdo-neto1 h3 {
  color: rgb(255, 255, 255);

}



.lado-esquerdo-neto1 h2:hover {
  color: rgb(253, 0, 0);
}

/* Definindo o tamanho da fonte do titulo h1 do neto do lado esquerdo  */
.lado-esquerdo-neto1 p {
  font-size: 0.8rem;
  text-align: justify;
  padding: 0.5rem;
  color: white;
  font-weight:700;
}

.lado-esquerdo-neto1 img {
  width: 100%;
}

.lado-esquerdo-neto1 h3 {
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  color: red;
  text-align: end;
}


.lado-esquerdo-neto1 a {
  text-decoration: none;
}

.lado-direito-subneto1 div {
  background-color: black;
}

.lado-direito-neto1  {
  border: 0;
}

.lado-direito-neto5 button{
  margin-bottom: 20rem;
}
.lado-esquerdo-neto5 a {
  background-color: black;
}

.lado-esquerdo-neto5 a {
  text-decoration: none;
  color: yellow;
}

.lado-esquerdo-neto5 a:hover {
  color: red;
}

.lado-esquerdo-neto5 h3 {
  padding-top: 0.5rem;
  color: white;
}


.lado-esquerdo-neto6  a{
  padding: 0.3rem;
}



/* Abaixo está a estilização do Zoom das imagens  ****/
.zoomable-image-container {
  position: relative;
  overflow: hidden;
}

.zoomable-image {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.zoomable-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(39, 83, 141, 0.281); */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.zoomable-image-container:hover .zoomable-image {
  transform: scale(1.1);
}

.zoomable-image-container:hover .zoomable-image-overlay {
  opacity: 1;
}

/* Efeito de filtro de imagem ao passar o mouse */
.zoomable-image-container {
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease-in-out;
}

.zoomable-image {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.zoomable-image-container:hover .zoomable-image {
  transform: scale(1.1);
}

.zoomable-image-container:hover {
  filter: brightness(1.3) saturate(2); /* Ajusta o brilho e a saturação */
}


.lado-esquerdo-neto2 {
 background-color: black;
}

.lado-esquerdo-neto2 h2{
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: yellow;
  font-size: 1.3rem;
}

.lado-esquerdo-neto2 h2:hover {
  color: red;
}

.lado-esquerdo-neto2 h4{
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-right: 0.7rem;
  text-align: end;
  font-size: 0.8rem;
  color: red;
}

.lado-esquerdo-neto2 p{
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;

  font-size: 1rem;
  text-align: justify;
  color: white;
}

.image-principais-noticias {
  width: 100%;
  height: 100%;

}

.lado-esquerdo-filho2 img {
  width: 100%;
  height: 100%;


}

.lado-esquerdo-filho2  {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  color: white;
}

.lado-esquerdo-filho2 a {
  text-decoration: none;
}



/* estiliza o lado esquerdo filho 2 com fundo, remoção da lista e com display flex */
.lado-esquerdo-filho3 {
  display: flex;
  margin-bottom: 2rem;
}

.lado-esquerdo-filho3  {
width: 100%;
}
/*   estiliza o lado esquerdo neto 2 com uma padding interno na lateral esquerda  */
.lado-esquerdo-neto2 {
  padding-left: 1rem;
}

.button-ver-mais {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}


/* ----**Estilização lado direito da pagina */



/*   deixando a div neto com os itens internos um do lado do outro e centralizado */
.lado-direito-neto1 {
  display: flex;
  align-items: center;
}

/* defininfo o tamanho das imagens do lado dieito da pagina  */
.lado-direito-neto1 img {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 0.4rem;
}

.manga-link:hover {
  border: 2px solid yellow;
}

/* definindo o tamanho dos texto do lado direito da pagina */
.lado-direito-neto1 h2,
h3 {
  font-size: 0.8rem;
}

.lado-direito-neto1 button {
  background-color: black;
  border: 0;
  padding: 0.3rem;
}

.lado-direito-neto1 button:hover {
  border: 2px solid yellow;

}

.temporada-lado-direito{
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;

}

.temporada-lado-direito div{
  width: 50%;
}

.temporada-lado-direito-index div{
  width: 40%;
  
}

.temporada-lado-direito-index {
  justify-content: center;
  
}

.temporada-lado-direito h2{
  text-align:center;
}

.temporada-lado-direito-image {
  width: 100%;
  display: flex;
  align-items: center;


}

.loadMoreContainer-css {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;

}

.loadMoreContainer-css button{
  background-color: #fbff01;
  border: 0;
  border-radius: 7px;
  font-size: 2rem;
  padding: 0.2rem;
  font-weight: bolder;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;

}

.loadMoreContainer-css button:hover{
  background-color: #ce0404;
  color: white;


}


/* --------------*** Estilização da pagina Da Noticia ***-------------- */

/* definindo o tamanho e dando espaço na lateral do titulo */
.titulo-noticia {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: yellow;
}

/* deixando os icones de autor e data um do lado do outro e dando margin a eles */
.sect-autor-data-pai {
  display: flex;
  margin-left: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

/* defindo o tamanho dos icones */
.sect-autor-data-pai img {
  width: 1rem;
}

/* definindo o tamanho dos textos do autor e data */
.sect-autor-data-pai h2 {
  padding-left: 0.5rem;
  font-size: 1rem;
}

/* dando espaçamento interno nos textos e icones de autor e data */
.sect-autor-data-filho {
  display: flex;
  padding-left: 1rem;
}

.sect-capa-pagina-noticia {
  display: flex;
  justify-content: center;
}

/* definindo o tamanho da imagem principal da noticia */
.sect-capa-pagina-noticia img {
  width: 95%;
  margin-bottom: 2rem;
}

.sect-capa-pagina-noticia-img2 img {
  width: 70%;
}

/* definindo o tamanho dos texto de descrição e dando margin em baixo */
.sect-descricao {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sect-leia-tambem-pai {
  padding-top: 2rem;
  margin-left: 2rem;
}

/* dando margim ao texto leia tambem  */
.sect-leia-tambem-pai h1 {
  margin-bottom: 1rem;
  color: red;
}

/* definindo o tamanho dos icones da sessão leia tambem */
.sect-leia-tambem-pai img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

/* deixando os icones e textos da sessão leia tambem um ao lado do outro, dando margim e centralizando */
.sect-leia-tambem-filho {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

/* dando margin e dexando o texto e icones do texto veja mais um ao lado do outro */
.sect-veja-mais {
  display: flex;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* definindo o tamanho do icones veja mais */
.sect-veja-mais img {
  width: 1rem;
}

.sect-veja-mais h3 {
  font-size: 1rem;
  margin-left: 0.5rem;
  display: flex;
}

.sect-veja-mais h4 {
  color: rgb(217, 255, 0);
  margin-left: 0.3rem;
  background-color: transparent;
  font-size: 1.1rem;
  cursor: pointer;
}

.sect-veja-mais h4:hover {
  color: #d10202;
}

.sect-veja-mais button {
  border: 0;
  background-color: transparent;


}

/* definindo o tamanho e cor da linha da pagina de noticia */
.linha-noticia {
  border-top: 3px solid black;
}
/* 
deixando o logo e texto da resenha do autor um do lado do outro de dando uma margin */
.sect-resenha-autor {
  display: flex;
  margin-top: 2rem;
}

/* definindo a largura do logo do autor */
.sect-resenha-autor img {
  width: 7rem;
  height: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.leia-tambem-details h1 {
  padding-left: 1.5rem;
}

.leia-tambem-details a {
  text-decoration: none;
  color: rgb(235, 219, 0);
}

.leia-tambem-details a:hover {
  color: red;
}


@media (max-width: 555px) {
/* definindo o tamanho dos texto de descrição e dando margin em baixo */
.sect-descricao {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* dando margin e dexando o texto e icones do texto veja mais um ao lado do outro */
.sect-veja-mais {
  margin-left: 0.5rem;
}

.sect-leia-tambem-pai {
  margin-left: 0.3rem;
}

}



/* ------------**Estilização do Footer**---------- */

.footer-index-maior {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  float: left;
  padding: 1rem;
  justify-content: space-around;
}

.footer-index {

  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  width: 13rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: 2rem;
}

.topicos-footer-index {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.topicos-footer-index a {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 1rem;
}

.topicos-footer-index a:hover {
  color: rgb(4, 248, 248);
}

.direitos-footer-index {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;

}


 /* --------Pagina de Contato--------  */

.contato {
  color:  rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: yellow;
  border: 2px solid #00e6ff;
  text-align: center;
  border-radius: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 3rem;
  padding: 5rem;
  width: 100%;
}

.contato h2 {
  width: 100%;
}

.main-contato {
  padding-bottom: 2.5rem;
}

.contato-div {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin: 1rem;
}
 
.lancamentos-container {
  display: flex;
}


/* -------------- Pagina Calendario ------------  */

.main-paginas {
  background-color: #1c1c1c;
  padding-top: 1.8rem;
}

.titulo-paginas {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  padding: 0.5rem;
  background-color: black;
  border-radius: 0px 0px 15px 15px;
  font-size: 1.8rem;
}


.lado-esquerdo-neto1-calendario {
  min-width: 10rem; /* Defina a largura mínima que deseja para cada div item */
  max-width: 13rem;
}


.descricao-calendario div{
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 0.5rem;
}

.descricao-calendario h2 {
  color: white;
  font-size: 0.6rem;
}

.dias-da-semana-buttons {
  display: flex;
  justify-content: center;
}

.dias-da-semana-buttons button {
  border: 1px solid #00e6ff;
  color: white;
  background: #2f2f2f;
  border-radius: 11px 0px 11px 0px;
  width: 7rem;
  height: 2.5rem;
  margin: 0.5rem;
}

.dias-da-semana-buttons button:hover {
  background-color: #00e6ff;
  cursor: pointer;
}


/* ----------- Pagina ViewsTemporada -----------  */

.lado-esquerdo-neto1-temporada section{
  display: flex;
  max-width: 60rem;
}

.lado-esquerdo-neto1-temporada {
  min-width: 35rem;
}

.zoomable-image-container-temporada section{
  min-width: 50%;
  max-width: 50%;
}

.div2 {
  min-width: 50%;
  max-width: 50%;
}

.div2 h1 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.lado-esquerdo-neto1-temporada p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-bottom: 1px solid white;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.generos-temporada {
  display: flex;
  padding-left: 0.4rem;
  
}

.generos-temporada h3 {
  color: #00e6ff;
  font-size: 0.7rem;
}

.generos-temporada2 h3 {
  background-color: #d10202;
  color: white;
  margin-left: 0.3rem;
  border-radius: 5px;
  padding: 0.3rem;
}

.generos-temporada-principal {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 0.8rem;
  color: white;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.generos-temporada-principal a {
  background-color: #d10202;
  color: white;
  margin-left: 0.3rem;
  border-radius: 5px;
  padding: 0.3rem;
  
}

.generos-temporada-principal a:hover {
  background-color: #0d0480;
  color: white;
  font-size: 1rem;
}
 



.iframe-video {
  justify-content: center;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  margin-left: 3rem;
}

.iframe-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.descricao-2-temporada {
  display: none;
}


/* ------------ Estilização DetailsTemporada --------------  */
.lado-esquerdo-neto1-detailstemporada {
  min-width: 50rem;
}

.div3 h1{
  font-size: 1.5rem;
}

.lado-esquerdo-neto1-detailstemporada p {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.generos-temporada3 h3 {
  font-size: 1.1rem;
}

.generos-temporada-principal2 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}


/* ----------- Search ------------ */

.descricao-search  {
  padding-bottom: 0.5rem;
}


@media (max-width: 590px) {
  .lado-esquerdo-neto1-temporada {
    min-width: 21rem;
    
  }

  .lado-esquerdo-neto1-temporada p {
    margin-left: 0;
    margin-right: 0.2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
  }
  
  .generos-temporada-principal {
    display: flex;
    margin-right: 0.5rem;
    font-size: 0.6rem;

  }

  
  .descricao-1-temporada {
    display: none;
  }

  .descricao-2-temporada {
    display: block;
  }

  .generos-temporada2 h3 {
    font-size: 0.6rem;
  }

}

/*  -------------------- DAQUI PARA BAIXO FICA A ESTILIZAÇÃO DO HEADER MOBILE -------------------- */

/* Retirando o espaçamento dos topicos do menu de navegação e minuindo os itens  */





@media (max-width: 1115px) {
  .menu-partials li {
    font-size: 0.7rem;
  }

  
  .menu-partials ul ul {
    top: 1.7rem;
  }

  .temporada-lado-direito-index div{
    width: 50%;
  }

}

@media (max-width: 1078px) {
  .menu-partials li {
    font-size: 0.7rem;
    margin: 0;
  }

  .menu-partials ul ul {
    display: none;
    left: -2rem;
    top: 1.9rem;
    position: absolute;
  }

  .categorias-partials li {
    margin-left: 0;
  }


}

/* Retirando o espaçamento dos topicos do menu de navegação  */
@media (max-width: 1001px) {
  .nav-partials ul {
    gap: 0.7rem;
  }

  .temporada-lado-direito-index div{
    width: 100%;
  }
}

/* Diminuindo o tamanho e dando uma margin inferior nos itens do menu de navegação  */
@media (max-width: 905px) {
  .menu-partials li {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
}

@media (max-width: 900px) {
  .login-pesquisa-partials {
    display: none;
  }

  .lado-esquerdo-neto1-detailstemporada{
    min-width: 45rem;
  }

  .section-detailsTemporada {
    display: flex;
  }

  .div3 h1 {
    padding: 0.3rem;
    font-size: 1.3rem;
  }

  .div3 h1 {
    padding: 0.3rem;
  }
}

/*------------------DAQUI PARA BAIXO COMEÇA A ESTILIZAÇÃO MOBILE DE 630PX PARA BAIXO--------------------------*/

@media (max-width: 887px) {
  /*------------------Daqui Para baixo fica a estilização do HEADER MOBILE--------------------------*/

  .login-pesquisa-partials-2,
  .categoria-mobile {
    display: list-item;
  }

  .menu-partials  div {
    left: 4.5rem;
    bottom: 2.5rem;
    position: relative;
    display: flex;
  }

  .menu-partials  div {
    background-color: #1100ff;
  }


  .menu-partials  div li a  {
    border-bottom: 0;
  }

  .menu-partials ul ul li a {
    border: 0;
    padding-bottom: 0;
  }

  .menu-partials ul li :hover {
    background-color: #1100ff;
  }

  

  .menu-partials ul li:hover ul {
    background-color: transparent;
  }

  /* deixando o icone de login e barra de pesquisa na mesma linha  */
  .login-pesquisa-partials-2 {
    display: flex;
    align-items: center;
  }

  /* dando uma magin lateral as divs dos icones de login e barra de pesquisa   */
  .login-pesquisa-partials-2 div {
    margin-right: 1rem;
  }

  /* Definindo a largura, altura e deixando os itens na mesma linha do menu de navegação  */
  .nav-partials .menu-partials {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  /* Dando margem e espaçamento ao menu de navegação */
  .nav-partials {
    justify-content: space-between;
    padding-left: 0.3rem;
    flex-wrap: none;
  }

  /* Deixando os itens do menu de navegação um em cima do outro, centralizando e dando margem interna  */
  .nav-partials ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }

  /* Dando cor e deixando o cursor com um formato que clicagem  */
  .nav-partials label {
    display: inline-flex;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
  }

  /* Definindo a largura da imagem do logo do menu de navegação  */
  .nav-partials label img {
    width: 2.3rem;
  }

  /* zerando a margem da imagem do menu de navegação  */
  .nav-partials img {
    margin-right: 1rem;
  }

  /* Deixando a altura do menu de navegação em 100%  */
  .nav-partials #toggle-partials:checked ~ .menu-partials {
    height: 100%;
  }

  .lado-esquerdo-filho-imagem {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 21rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
  }

  .lado-esquerdo-neto2 h4 {
    padding-bottom: 0;
    padding-top: 0;

  }

  .lado-esquerdo-filho2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 730px) {
  .lado-esquerdo-neto1-detailstemporada{
    min-width: 35rem;
  }


  .div3 h1 {
    padding: 0.3rem;
    font-size: 1.1rem;
  }

  .div3 p {
    font-size: 0.8rem;
    margin: 0;
  }

  .div3 h2, h3 {
    font-size: 0.8rem;
  }


}
  


@media (max-width: 663px) {

  .lado-esquerdo-filho3{
    display: grid;
  }

  .iframe-video {

    margin-left: 1rem;
  }
}

@media (max-width: 571px) {

.lado-esquerdo-neto1-detailstemporada{
  min-width: 25rem;
}


.lado-esquerdo-neto1-temporada section{
  display: inline-block;

  max-width: 60rem;
}

.div2 {
  min-width: 100%;
  max-width: 100%;
}


}


@media (max-width: 530px) {
  .lupa-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin: 0;
  }

  .search-input {
    display: none;
    padding: 10px;
    background-color: rgb(66, 65, 65);
    padding: 3px;
    color: white;
    border-radius: 5px;
    width: 21rem;
    height: 2rem;
    margin-bottom: 1rem;
  }

  .search-input input {
    background-color: transparent;
    width: 19rem;
    height: 1.6rem;
    border: 0;
    color: white;
  }

  /* Remove o contorno ao clicar no elemento de entrada */
  input:focus {
    outline: none;
  }

  .button-l {
    display: none;
    width: 2rem;
    height: 2rem;
  }

  .button-l button {
    width: 2rem;
    height: 2rem;
    margin-left: -2rem;
    background-color: transparent;
    border: 0;
  }

  .partials-mobile-search-button {
    display: flex;
  }

  .partials-mobile-search-button img {
    width: 20px;
    margin-top: -0.5rem;
    cursor: pointer;
  }

  #toggle-partials-2:checked + label .search-input {
    display: block;
  }

  .icone-login-desk {
    display: none;
  }

  .nav-partials {
    display: flex;
    justify-content: space-between;
  }

  .icone-login-partials-mobile {
    position: relative;
    right: 3rem;
  }

  .toggle-partials-2-pai {
    position: relative;
    left: 0.5rem;
  }

  .nav-partials label img {
    width: 1.5rem;
  }
  .toggle-partials-2-pai,
  .icone-login-partials-mobile,
  .toggle-partials-2-pai {
    display: list-item;
  }

  .icone-login-partials-mobile img {
    width: 1rem;
  }

  .toggle-partials-2-pai label {
    margin: 0;
  }

  .icone-login-partials,
  .barra-separadora-partials,
  .barra-de-pesquisa-partials {
    display: none;
  }

  .barra-de-pesquisa-partials-mobile {
    background-color: rgb(66, 65, 65);
    padding: 3px;
    color: white;
    border-radius: 5px;
    width: 14rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilizando o input da barra de pesquisa, definindo o tamanho do texto, a largura e altura do input e cor de fundo  */
  .barra-de-pesquisa-partials-mobile input {
    width: 12rem;
    height: 2rem;
    background-color: rgb(66, 65, 65);
    border: 0;
    font-size: 1rem;
    margin-left: 1rem;
    outline: 0;
    color: white;
    border-radius: 5px;
  }

  /* tirando o fundo do botão lupa e deixando ele como notão clicável  */
  .barra-de-pesquisa-partials-mobile button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .barra-de-pesquisa-partials-mobile img {
    width: 1.5rem;
  }

  .icone-login-mob ul ul {
    left: 0.1rem;
  }


}


@media (max-width: 418px) {

  .lado-esquerdo-neto1-detailstemporada{
    min-width: 10rem;
  }
  
  .lado-esquerdo-neto1-detailstemporada section {
    display: inline-block;
  }
  
  .div2 {
    min-width: 100%;
    max-width: 100%;
  }
  
  .div3 h1 {
    padding: 0.3rem;
    font-size: 1.1rem;
  }
  
  .div3 p {
    font-size: 0.8rem;
    margin: 0;
  }
  
  .div3 h2, h3 {
    font-size: 0.8rem;
  }
  
  }

@media (max-width: 916px) {
    /* tirando a coluna do lado direito da pagina */
    .lado-direito-pai {
      display: none;
    }

  /* deixando a coluna do lado esquerdo da pagina com 100% do espaço */
  .lado-esquerdo-pai {
    width: 100%;
  }
}


/* Responsividade da pagina para aparelhos abaixo de 826 pixels */
@media (max-width: 826px) {
  /* retirando o display flex da div e centralizando o texto e imagem */
  .lado-esquerdo-filho2 {
    display: grid;
    text-align: center;
  }


}

/* Responsividade da pagina para aparelhos abaixo de 545 pixels */
@media (max-width: 545px) {
  /*     deixando o logo e resenha do autor um em baixo do outro e centralizando tudo */
  .sect-resenha-autor {
    display: grid;
    text-align: center;
    display: block;
  }

  /* dando margin ao logo do autor */
  .sect-resenha-autor img {
    margin-bottom: 1.5rem;
  }

  /* centralizando e dando espaçamento no titulo da pagina */
  .titulo-noticia {
    font-size: 1.2rem;
    padding-left: 0.3rem;
  }

  .footer-index-maior {
    display: block;
    justify-content: center;
  }

  .logo-footer {
    display: flex;
    justify-content: center;
  }

  .contato h1, h2 {
    font-size: 1rem;
  }

  .contato h1 {
    text-align: center;
  }

  .titulo-index {
    text-align: center;
  }
  
  
}


@media (max-width: 474px) {
  .dias-da-semana-buttons{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }

  .contato h2 {

    text-align: center;
    display: flex;
    justify-content: center;
  }

 

}


.lado-esquerdo-neto1 h3 {
  color: rgb(255, 0, 0);
}

.generos-temporada3 h3 {
  color: white;
  font-size: 0.8rem;
}