<%- include("partials/head") %> <%- include("partials/header") %>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<main class="main-paginas main-contato">
    <h1 class=" titulo-paginas">CONTATE-NOS</h1>

<div class="contato-div">
    <section class="contato">
        <h2>Para parcerias ou contato sobre bugs e melhorias, <br> entre em contato no e-mail abaixo:</h2>
    
    <br> <br> <br>
    
    <h2>E-mail: contatosgogeek@gmail.com</h2>
    </section>
</div>

 </main>

<%- include("./partials/footer") %>
