<%- include("partials/head") %> <%- include("partials/header") %>

<main class="main-paginas main-contato">
    <h1 class=" titulo-paginas">CONTATE-NOS</h1>

<div class="contato-div">
    <section class="contato">
        <h1>Para parcerias ou contato sobre bugs e melhorias, <br> entre em contato no e-mail abaixo:</h1>
    
    <br> <br> <br>
    
    <h2>E-mail: contatosgogeek@gmail.com</h2>
    </section>
</div>

 </main>

<%- include("./partials/footer") %>
