<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm") %>

 <main class="form-news-create main-news-adm">
<h1 class="titulo-paginas-adm titulo-news-create ">Criar Novidade</h1>

    <form action="/detailsNews/create" method="post" enctype="application/x-www-form-urlencoded" >
            <input class="input-form" type="text" name="titulo" placeholder="Titulo">
            <input class="input-form" type="text" name="subtitulo" placeholder="Sub Titulo">
            <input class="input-form" type="text" name="image" placeholder="Imagem 1">
            <textarea  class="input-form" name="description1" placeholder="Descrição Principal"></textarea>

            <div class="div-textearea">
              <textarea id="editor" class="input-form" name="description" placeholder="Descrição"></textarea>
            </div>

            <input class="input-form" type="text" name="image2" placeholder="Imagem 2">
            <input class="input-form" type="text" name="link_video" placeholder="Link do Vídeo">

            <div class="div-textearea">
            <textarea id="editor2" class="input-form" name="description2" placeholder="Descrição 2"></textarea>
            </div>
            <input class="input-form" type="text" name="conecxao" placeholder="Conexão">



            <select class="input-form" name="categoria"> <option value="" disabled selected>Categoria</option>
                <option value="Recomendações">Recomendações</option> <option value="Novidades">Novidades</option> 
                <option value="Temporadas">Temporadas</option> <option value="Curiosidades">Curiosidades</option>
              </select>
              <select class="input-form" name="tipo"> <option value="" disabled selected>Tipo</option>
                 <option value="Animes">Animes</option> <option value="Mangas">Mangas</option> 
              </select>
              
            <button type="submit"> Criar Noticia </button>
    </form> 

   

    <script>
      ClassicEditor
          .create(document.querySelector('#editor'))
          .then(editor => {
              editor.editing.view.change(writer => {
                  writer.setStyle('background-color', '#3f3b3b', editor.editing.view.document.getRoot());
              });
          })
          .catch(error => {
              console.error(error);
          });
  </script>

  
<script>
  ClassicEditor
      .create( document.querySelector( '#editor2' ) )
      
      .then(editor => {
              editor.editing.view.change(writer => {
                  writer.setStyle('background-color', '#3f3b3b', editor.editing.view.document.getRoot());
              });
          })
          .catch(error => {
              console.error(error);
          });
</script>
  


</main>

