<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm") %>

<h1 class="titulo-news-create">Criar nova Noticia</h1>

 <main class="form-news-create">

    <form action="/detailsNews/create" method="post" enctype="multipart/form-data" >
            <input class="input-form" type="text" name="titulo" placeholder="Titulo">
            <input class="input-form" type="text" name="description" placeholder="Descrição">
            <input class="input-form" type="text" name="conecxao" placeholder="Conexão">
            <input class="input-form" type="text" name="categoria" placeholder="Categoria">
            <input class="input-form" type="file" name="image">

            <button type="submit"> Criar Noticia </button>
    </form> 
</main>