<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>

<main>
    <ul>
        <li><a href="/detailsNews/create">Criar Novidade |</a></li>
        <li><a href="/detailsNews">Criar Recomendações |</a></li>
        <li><a href="">Criar Temporada</a></li>
    </ul>

</main>