<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>

<main class=" main-news-adm">
    <img src="../img/logo.png" alt="">
    
    <div class="dd"><h1 class="titulo-paginas-adm">Pagina inicial ADM</h1></div>
    <ul>
        <li><a href="/detailsNews/create">Criar Novidade </a></li>
        <li><a href="/detailsRecomenda/create">Criar Recomendações </a></li>
        <li><a href="/detailsTemporada/create">Criar Temporada</a></li>
        <li><a href="/detailsLancamento/create">Criar Calendario</a></li>


    </ul>

</main>