<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>
<h1>Paginas de Noticias</h1>

<main>
    <ul>
        <li><a href="/detailsNews"> Novidade |</a></li>
        <li><a href="/detailsRecomenda"> Recomendações |</a></li>
        <li><a href="/detailsTemporada"> Temporada</a></li>
        <li><a href="/detailsLancamento"> Calendario</a></li>
    </ul>

</main>