<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>
<h1>Paginas de Criar Noticias</h1>
<main>
    <ul>
        <li><a href="/detailsNews/create">Criar Novidade |</a></li>
        <li><a href="/detailsRecomenda/create">Criar Recomendações |</a></li>
        <li><a href="/detailsTemporada/create">Criar Temporada</a></li>
        <li><a href="/detailsLancamento/create">Criar Calendario</a></li>
    </ul>

</main>