<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm")%>

<main class=" main-news-adm">
    <h1 class="titulo-paginas-adm">Pagina de Modificação de Noticias</h1>
    <ul>
        <li><a href="/detailsNews"> Novidade </a></li>
        <li><a href="/detailsLancamento"> Calendario</a></li>
        <li><a href="/detailsTemporada"> Temporada</a></li>
        <li><a href="/detailsRecomenda"> Recomendações </a></li>


    </ul>

</main>