<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm") %>



 <main class="form-news-create main-news-adm">
    <h1 class="titulo-news-create titulo-news-create-recomenda">Criar Recomendação</h1>

    <form action="/detailsRecomenda/create" method="post" enctype="multipart/form-data" >
        <label for="">Recomendação principal</label>
            <input class="input-form" type="text" name="titulo" placeholder="Titulo">
            <input class="input-form" type="text" name="image" placeholder="Imagem Principal">
            <input class="input-form" type="text" name="description1" placeholder="Descrição">



        <label for="">Recomendação 1</label>
            <input class="input-form" type="text" name="titulo2" placeholder="Titulo">
            <input class="input-form" type="text" name="image2" placeholder="Imagem 1">
            <textarea id="editor" class="input-form" name="description2" placeholder="Descrição"></textarea>

        <label for="">Recomendação 2</label>
            <input class="input-form" type="text" name="titulo3" placeholder="Titulo">
            <input class="input-form" type="text" name="image3" placeholder="Imagem 2">
            <textarea id="editor2" class="input-form" name="description3" placeholder="Descrição"></textarea>

        <label for="">Recomendação 3</label>
            <input class="input-form" type="text" name="titulo4" placeholder="Titulo">
            <input class="input-form" type="text" name="image4" placeholder="Imagem 3">
            <textarea id="editor3" class="input-form" name="description4" placeholder="Descrição"></textarea>
p
        <label for="">Recomendação 4</label>
            <input class="input-form" type="text" name="titulo5" placeholder="Titulo">
            <input class="input-form" type="text" name="image5" placeholder="Imagem 4">
            <textarea id="editor4" class="input-form" name="description5" placeholder="Descrição"></textarea>

        <label for="">Recomendação 5</label>
            <input class="input-form" type="text" name="titulo6" placeholder="Titulo">
            <input class="input-form" type="text" name="image6" placeholder="Imagem 5">
            <textarea id="editor5" class="input-form" name="description6" placeholder="Descrição"></textarea>

        <label for="">Recomendação 6</label>
            <input class="input-form" type="text" name="titulo7" placeholder="Titulo">
            <input class="input-form" type="text" name="image7" placeholder="Imagem 6">
            <textarea id="editor6" class="input-form" name="description7" placeholder="Descrição"></textarea>

        <label for="">Recomendação 7</label>
            <input class="input-form" type="text" name="titulo8" placeholder="Titulo">
            <input class="input-form" type="text" name="image8" placeholder="Imagem 7">
            <textarea id="editor7" class="input-form" name="description8" placeholder="Descrição"></textarea>

        <label for="">Recomendação 8</label>
            <input class="input-form" type="text" name="titulo9" placeholder="Titulo">
            <input class="input-form" type="text" name="image9" placeholder="Imagem 8">
            <textarea id="editor8" class="input-form" name="description9" placeholder="Descrição"></textarea>

        <label for="">Recomendação 9</label>
            <input class="input-form" type="text" name="titulo10" placeholder="Titulo">
            <input class="input-form" type="text" name="image10" placeholder="Imagem 9">
            <textarea id="editor9" class="input-form" name="description10" placeholder="Descrição"></textarea>

            <label for="">Recomendação 10</label>
            <input class="input-form" type="text" name="titulo11" placeholder="Titulo">
            <input class="input-form" type="text" name="image11" placeholder="Imagem 10">
            <textarea id="editor10" class="input-form" name="description11" placeholder="Descrição"></textarea>

            
            <input class="input-form" type="text" name="conecxao" placeholder="Conexão">
            
            <select class="input-form" name="categoria"> <option value="" disabled selected>Categoria</option>
                <option value="Recomendações">Recomendações</option> <option value="Novidades">Novidades</option> 
                <option value="Temporadas">Temporadas</option> <option value="Curiosidades">Curiosidades</option>
              </select>
              <select class="input-form" name="tipo"> <option value="" disabled selected>Tipo</option>
                 <option value="Animes">Animes</option> <option value="Mangas">Mangas</option> 
              </select>


            <button type="submit"> Criar Recomendação </button>
    </form> 

    
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor2' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor3' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor4' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor5' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor6' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor7' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor8' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor9' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor10' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

    

</main>