<%- include("./partials/headAdm") %> <%- include("./partials/headerAdm") %>

<h1 class="titulo-news-create">Criar Recomendação</h1>

 <main class="form-news-create">

    <form action="/detailsRecomenda/create" method="post" enctype="multipart/form-data" >
        <label for="">Recomendação principal</label>
            <input class="input-form" type="text" name="titulo" placeholder="Titulo">
            <input class="input-form" type="file" name="image">
            <input class="input-form" type="text" name="description" placeholder="Descrição">

        <label for="">Recomendação 1</label>
            <input class="input-form" type="text" name="titulo2" placeholder="Titulo">
            <input class="input-form" type="file" name="image2">
            <input class="input-form" type="text" name="description2" placeholder="Descrição">

        <label for="">Recomendação 2</label>
            <input class="input-form" type="text" name="titulo3" placeholder="Titulo">
            <input class="input-form" type="file" name="image3">
            <input class="input-form" type="text" name="description3" placeholder="Descrição">

        <label for="">Recomendação 3</label>
            <input class="input-form" type="text" name="titulo4" placeholder="Titulo">
            <input class="input-form" type="file" name="image4">
            <input class="input-form" type="text" name="description4" placeholder="Descrição">

        <label for="">Recomendação 4</label>
            <input class="input-form" type="text" name="titulo5" placeholder="Titulo">
            <input class="input-form" type="file" name="image5">
            <input class="input-form" type="text" name="description5" placeholder="Descrição">

        <label for="">Recomendação 5</label>
            <input class="input-form" type="text" name="titulo6" placeholder="Titulo">
            <input class="input-form" type="file" name="image6">
            <input class="input-form" type="text" name="description6" placeholder="Descrição">

        <label for="">Recomendação 6</label>
            <input class="input-form" type="text" name="titulo7" placeholder="Titulo">
            <input class="input-form" type="file" name="image7">
            <input class="input-form" type="text" name="description7" placeholder="Descrição">

        <label for="">Recomendação 7</label>
            <input class="input-form" type="text" name="titulo8" placeholder="Titulo">
            <input class="input-form" type="file" name="image8">
            <input class="input-form" type="text" name="description8" placeholder="Descrição">

        <label for="">Recomendação 8</label>
            <input class="input-form" type="text" name="titulo9" placeholder="Titulo">
            <input class="input-form" type="file" name="image9">
            <input class="input-form" type="text" name="description9" placeholder="Descrição">

        <label for="">Recomendação 9</label>
            <input class="input-form" type="text" name="titulo10" placeholder="Titulo">
            <input class="input-form" type="file" name="image10">
            <input class="input-form" type="text" name="description10" placeholder="Descrição">

            <label for="">Recomendação 10</label>
            <input class="input-form" type="text" name="titulo11" placeholder="Titulo">
            <input class="input-form" type="file" name="image11">
            <input class="input-form" type="text" name="description11" placeholder="Descrição">

            
            <input class="input-form" type="text" name="conecxao" placeholder="Conexão">
            
            <select class="input-form" name="categoria"> <option value="" disabled selected>Categoria</option>
                <option value="Recomendações">Recomendações</option> <option value="Novidades">Novidades</option> 
                <option value="Temporadas">Temporadas</option> <option value="Curiosidades">Curiosidades</option>
              </select>
              <select class="input-form" name="tipo"> <option value="" disabled selected>Tipo</option>
                 <option value="Animes">Animes</option> <option value="Mangas">Mangas</option> 
              </select>


            <button type="submit"> Criar Recomendação </button>
    </form> 
</main>