<!-- Botão de Scroll para o topo da pagina  -->
<section>
    <button class="scrollTop" onclick="backTop();">
        <img src="/img/seta-topo.png" alt="">
    </button>
</section>


<script src="/img/javascript/script.js"></script>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TL8QGHC6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
</body>




<footer class="footer-index-maior ">

        <div class="logo-footer">
            <a href="/"> <img src="../img/logo.png" alt="logo"></a>
        </div>

     
    <div class="footer-index ">

        <div>
            <ul class="topicos-footer-index">

                <a href="/melhorias"><li>FEEDBACKS/AVISO DE BUG</li></a>
                <a href="/contato"><li>CONTATO</li></a>
            </ul>
        </div>
        <div class="direitos-footer-index">
            <p>© 2023 Animes Cold News - Todos os Direitos Reservados - Política de Privacidade - DMCA. <br></p>
        </div>
    </div>



</footer>
</html>




