<!-- Botão de Scroll para o topo da pagina  -->
<section>
    <button class="scrollTop" onclick="backTop();">
        <img src="/img/seta-topo.png" alt="">
    </button>
</section>


<script src="/img/javascript/script.js"></script>

</body>




<footer class="footer-index-maior ">

        <div class="logo-footer">
            <a href="/"> <img src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="imagem-redes-sociais">
            <a href="https://www.youtube.com/channel/UCnPNEDDtPvhykmZkYSuk_yg" target="_blank"><img src="../img/youtube.png" alt="Youtube"></a>
            <a href="https://www.instagram.com/go.geek_/" target="_blank"><img src="../img/instagram.png" alt="Instagram"></a>
        </div>
     
    <div class="footer-index ">

        <div>
            <ul class="topicos-footer-index">

                <a href="/melhorias"><li>FEEDBACKS/AVISO DE BUG</li></a>
                <a href="/contato"><li>CONTATO</li></a>
            </ul>
        </div>
        <div class="direitos-footer-index">
            <p>© 2023 Go Geek - Todos os Direitos Reservados - Política de Privacidade - DMCA. <br></p>
        </div>
    </div>



</footer>
</html>




