<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>


    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="icon" type="image/png" href="../img/logo2.png"/>

  </head>


  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 





