<header class="header-adm">
    <ul>
        <li><a href="/indexAdm">Pagina Inicial |</a></li>
        <li><a href="/detailsNews">Noticias |</a></li>
        <li><a href="/detailsNews/create">Criar Noticias</a></li>
    </ul>
</header>