<header>
    <!-- Menu de navegação -->
    <div class="wrapper-partials">
        <nav class="nav-partials">
            <input type="checkbox" name="" id="toggle-partials">
            <label for="toggle-partials"> <img src="img/barra-de-navegação.png" alt="Barra de Navegação Mobile"></label>
            <div class="logo-partials">
                <a href="/"><img src="img/logo.png" alt="Logo"></a>
            </div>
            
            <div class="toggle-partials-2-pai">
                <div class="toggle-partials-2-pai">
                    <input type="checkbox" id="toggle-partials-2">
                    <label for="toggle-partials-2">
                        <button class="lupa-button"><img src="/img/lupa.png" alt="Lupa"></button>
                    </label>
                    <form action="/search" method="post">
                        <section class="partials-mobile-search-button">
                            <div class="search-input">
                                <input type="search" name="searchQuery" placeholder="Pesquisar...">
                            </div>
                            <div class="button-l">
                                <button type="submit"><img src="/img/lupa.png" alt="Lupa"></button>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
            
            <script>
                $(document).ready(function() {
                    $(".lupa-button").on("click", function() {
                        // Mostra ou esconde o campo de pesquisa e o botão de lupa com base no estado atual
                        $(".search-input").toggle();
                        $(".button-l").toggle();
                        $(this).toggle(); // Esconde o próprio botão de lupa
                    });
                });
            </script>
            
                
                <form action="/search" method="post">
            <div class="login-pesquisa-partials-2">
                <div class="barra-de-pesquisa-partials">
                    <div><input type="search" name="searchQuery" placeholder="Pesquisar..."></div>
                    <div><button type="submit"><img src="/img/lupa.png" alt="Lupa"></button></div>
                </div>  
            </div>
                </form>
            
            <div class="menu-partials" id="home">
                <ul>
                    <a href="/indexAdm"><li>ADM</li></a>
                        <li class="categoria-desktop">
                            <a href="#">Tipo</a>
                            <ul class="categorias-partials">
                                <li><a href="tipoAnimesViewsClient">Animes</a></li>
                                <li><a href="tipoMangasViewsClient">Mangas</a></li>
                            </ul>
                        </li>
                        <a href="/recomendaViewsClient"><li>Recomendações</li></a>
                        <a href="/calendarioAnimes"><li>Calendario</li></a>
                        <a href="/curiosidadeViewsClient"><li>Curiosidades</li></a>
                        <a href="/temporadaViewsClient"><li>Temporadas</li></a>
                        <a href="/contato"><li>Contato</li></a>
                </ul>
            </div>

            <div class="login-pesquisa-partials">
                <form action="/search" method="post">
                    <div class="barra-de-pesquisa-partials">
                        <div> 
                        <input type="search" name="searchQuery" placeholder="Pesquisar...">
                        </div>
                        <div>
                        <button type="submit"><img src="/img/lupa.png" alt="Lupa"></button>
                        </div>
                    </div>
                </form>
          </div>
        </nav>
    </div>
  
</header>
