<!doctype html>
<html lang="pt-BR">
  <head>
    {
      "items": [
        {
          "type": [
            "h-entry"
          ],
          "properties": {
            "name": [
              "Microformats are amazing"
            ],
            "author": [
              {
                "value": "W. Developer",
                "type": [
                  "h-card"
                ],
                "properties": {
                  "name": [
                    "W. Developer"
                  ],
                  "url": [
                    "http://example.com"
                  ]
                }
              }
            ],
            "published": [
              "2013-06-13 12:00:00"
            ],
            "summary": [
              "In which I extoll the virtues of using microformats."
            ],
            "content": [
              {
                "value": "Blah blah blah",
                "html": "<p>Blah blah blah</p>"
              }
            ]
          }
        }
      ]
    }

    <!-- Script de configuração do schema.org  -->
    <script type="application/ld+json" class="yoast-schema-graph">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "CollectionPage",
            "@id": "https://www.gogeekanimes.com/",
            "url": "https://www.gogeekanimes.com/",
            "name": "Go Geek - Site de notícias de animes, mangas, doramas, games, recomendações e curiosidades. Somos sua principal fonte de notícias do mundo geek.",
            "isPartOf": { "@id": "https://www.gogeekanimes.com/#website" },
            "about": { "@id": "https://www.gogeekanimes.com/#organization" },
            "description": "Site de notícias de animes, mangas, doramas, games, recomendações e curiosidades. Somos sua principal fonte de notícias do mundo geek",
            "breadcrumb": { "@id": "https://www.gogeekanimes.com/#breadcrumb" },
            "inLanguage": "pt-BR"
          },
          {
            "@type": "BreadcrumbList",
            "@id": "https://www.gogeekanimes.com/#breadcrumb",
            "itemListElement": [
              { "@type": "ListItem", "position": 1, "name": "Início" }
            ]
          },
          {
            "@type": "WebSite",
            "@id": "https://www.gogeekanimes.com/#website",
            "url": "https://www.gogeekanimes.com/",
            "name": "Go Geek",
            "description": "Site de notícias de animes, mangas, doramas, games, recomendações e curiosidades. Somos sua principal fonte de notícias do mundo geek.",
            "publisher": { "@id": "https://www.gogeekanimes.com/#organization" },
            "potentialAction": [
              {
                "@type": "SearchAction",
                "target": {
                  "@type": "EntryPoint",
                  "urlTemplate": "https://www.gogeekanimes.com/?s={search_term_string}"
                },
                "query-input": "required name=search_term_string"
              }
            ],
            "inLanguage": "pt-BR"
          },
          {
            "@type": "Organization",
            "@id": "https://www.gogeekanimes.com/#organization",
            "name": "Go Geek Animes",
            "url": "https://www.gogeekanimes.com/",
            "logo": {
              "@type": "ImageObject",
              "inLanguage": "pt-BR",
              "@id": "https://www.gogeekanimes.com/#/schema/logo/image/",
              "url": "https://www.gogeekanimes.com/img/logo.png",
              "contentUrl": "https://www.gogeekanimes.com/img/logo.png",
              "width": 270,
              "height": 100,
              "caption": "Go Geek"
            },
            "image": {
              "@id": "https://www.gogeekanimes.com/#/schema/logo/image/"
            },
            "sameAs": [
              "https://www.instagram.com/go.geek_/",
              "https://www.youtube.com/channel/UCnPNEDDtPvhykmZkYSuk_yg"
            ]
          }
        ]
      }
    </script>
    
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"/>
    <meta name="description" content="Go Geek - Site de notícias de animes, mangas, doramas, games, recomendações e curiosidades. 
    Somos sua principal fonte de notícias do mundo geek"/>

    <!-- Configura o Protocolo open graph do facebook  -->
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Go Geek – Notícias de Animes, Mangás, Games e Mais">
    <meta property="og:description" content="Na Go Geek você encontra uma infinidade de notícias de animes, mangás e games. Somos sua principal fonte de notícia de anime para otakus.">
    <meta property="og:url" content="https://www.gogeekanimes.com/">
    <meta property="og:site_name" content="Go Geek">
    <meta property="article:publisher" content="https://www.facebook.com/gogeekanimes.com/">
    <meta property="og:image" content="https://www.gogeekanimes.com/img/logo2.png">
    <meta property="og:image:secure_url" content="https://www.gogeekanimes.com/img/logo2.png">

    <!-- Configura os Cards do Twitter - o que ira aparecer do site  -->
    <meta name="twitter:card" content="summary"></meta>
    <meta name="twitter:site" content="@GoGeekAnimes">
    <meta name="twitter:image" content="https://www.gogeekanimes.com/img/logo2.png">
    <meta name="twitter:title" content="Go Geek">
    <meta name="twitter:description" content="Na Go Geek você encontra uma infinidade de notícias de animes, mangás e games. Somos sua principal fonte de notícia de anime para otakus.">


    <link rel="canonical" href="https://www.gogeekanimes.com/" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <!-- Configurar qual imagem ira aparecer na aba guia do site  -->
    <link rel="icon" type="image/png" href="../img/logo2.png" />

    <!-- Informa qual as linguagens do site  -->
    <link rel="alternate" hreflang="pt-BR" href="https://www.gogeekanimes.com/"/>
    <link rel="alternate" hreflang="pt-PT" href="https://www.gogeekanimes.com/"/>
    <link rel="alternate" hreflang="en" href="https://www.gogeekanimes.com/" />

    <!-- Script para ter anuncios -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9046617245443049"
      crossorigin="anonymous"></script>
  </head>

  <body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </body>
</html>
