<header>
    <!-- Menu de navegação -->
    <div class="wrapper-partials">
        <nav class="nav-partials">

            <input type="checkbox" name="" id="toggle-partials">
            <label for="toggle-partials"> <img src="img/barra-de-navegação.png" alt="Barra de Navegação Mobile"></label>

            <div class="logo-partials">
                <a href="/"><img src="img/logo.jpg" alt="Logo"></a>
            </div>

            <div class="toggle-partials-2-pai">
                <input type="checkbox" name="" id="toggle-partials-2">
                <label for="toggle-partials-2"> <img src="img/lupa.png" alt="Pesquisa Mobile"></label>
            </div>


            <div class="login-pesquisa-partials-2">

                <div class="barra-de-pesquisa-partials">
                    <div><input type="search" placeholder="Pesquisar..."></div>
                    <div><button><img src="/img/lupa.png" alt="Lupa"></button></div>
                </div>

                <div class="barra-separadora-partials">
                    <img src="/img/barra.png" alt="barra separadora">
                </div>
                
            </div>
            
            <div class="menu-partials" id="home">
                <ul>
                        <li class="categoria-desktop">
                            <a href="#">Tipo</a>
                            <ul class="categorias-partials">
                                <li><a href="#">Animes</a></li>
                                <li><a href="#">Mangas</a></li>
                            </ul>
                        </li>

                        <a href="#"><li>Recomendações</li></a>
                        <a href="#"><li>Calendario</li></a>
                        <a href="#"><li>Curiosidades</li></a>
                        <a href="#"><li>Contato</li></a>
                </ul>
            </div>

            <div class="login-pesquisa-partials">

                <div class="barra-de-pesquisa-partials">
                    <div><input type="search" placeholder="Pesquisar..."></div>
                    <div><button><img src="/img/lupa.png" alt="Lupa"></button></div>
                </div>

                <div class="barra-separadora-partials">
                    <img src="/img/barra.png" alt="barra separadora">
                </div>

        
        </nav>
        <div>

          </div>

    </div>


  
</header>













